name: main

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 5"
  workflow_dispatch:

jobs:

  plugin_test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        ver: [0.5.1]

    runs-on: ${{ matrix.os }}

    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1
        with:
          version: ${{ matrix.ver }}
          command: kind --version
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Run ShellCheck
        run: shellcheck bin/*
